* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
  margin-top:15px;
  font-size:20px;
}

.container{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:50vw;
  margin:0 auto;
}
hr {
  margin:25px;
}
input[type=text]{
  width:50vw;
}

input[type=submit]{
  height:2em;
  background-color:aqua;
  font-weight:600;
}

@media (max-width: 800px) {
  h1 {
    font-size:16px;
  }
  ::-webkit-input-placeholder { 
  font-size:13px;
}

:-ms-input-placeholder { 
  font-size:13px;
}

::placeholder {
  font-size:13px;
}
 hr{
   margin:15px;
 }
}

